
# Ignorar carpetas generadas por Gradle y el sistema
.gradle/
build/
out/

# Archivos de entorno de desarrollo
.idea/
*.iml

# Archivos de compilación
*.class
*.jar
*.log

# Sistema operativo (Windows/macOS)
.DS_Store
Thumbs.db
